/*FONTS*/

@font-face {
    font-family: 'bebas_neueregular';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


#nav-back{
	background-color: #343332;
	height: 40px;
	margin-bottom: 0;
}

#nav{
	margin: 0;
}

#nav ul{
	float: right;
	margin-top:11px;
}
 
#nav ul li {

    display: inline;
    margin: 0 0px 0 10px;
}
 
#nav a {
	font-family: 'bebas_neueregular';
	font-style: uppercase;
	color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
}
 
#nav a:hover {
    text-decoration: none;
}

#hero-back{
	background-color:#658fdc;
	height: 345px;
}

#hero-picture{
	position: absolute;
	right: 20px;
}

#hero-back .container{
	padding-top: 20px;
}

#hero{
	margin-top: 20px;
	margin-left: 0px;
}

#hero h1,h2{
	font-family: 'bebas_neueregular';
	color: #FFFFFF;
	margin-bottom: 10px;
}

#hero p{
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	font-size: 17px;
	margin-bottom: 10px;
}

#hero-about{
	margin-top: 25px;
}

#work-filter{
	margin: 0;
}


#work-layout h1{
	font-family: 'bebas_neueregular';
	font-size: 30px;
	color: #658fdc;
}




.work{
	margin-bottom: 0px!important;
}

.work img{
	width: 100%;
	height: auto;
	border: 1px #A8A8A8 solid;
}

.web{
	width: 100%;
	height: auto;
	background-image: url('images/web-preview400.jpg');
}

.work-type{
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 5px;
}

.first{
	margin-left: 0px;
}


#description{
	margin-top: 50px;
}


.preview{
	width: 100%;
}


#footer-back{
	background-color: #252524;
	height:50px;
	margin:0px;

}



/* MEDIA QUERIES */

	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		#hero p{
			font-size: 13px;
		}

		#hero-picture{
			width: 380px;
			margin-top: 20px;
		}

		.add-bottom{margin-bottom: 0px!important;}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		#hero-picture{
			display: none;
		}

		#hero p{
			font-size: 15px;
		}

		.add-bottom{margin-bottom: 0px!important;}

		#description {
			margin-top: 10px;
		}

	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		
		#hero{
			margin-top: 0px;
		}

		#hero p{
			font-size: 15px;
			margin-bottom: 8px;
		}

		#hero h1,h2{
			font-family: 'bebas_neueregular';
			color: #FFFFFF;
			margin-bottom: 0px;
		}


		#hero-about{
			margin-top: 15px;
		}

		.add-bottom{margin-bottom: 0px!important;}

		#nav a {
		    font-size: 18px;
		} 

	}

